<div class="profile-container">
  <h1>Welcome, <%= @user.email %>!</h1>
  <p>Email: <%= @user.email %></p>
  <p>Joined on: <%= @user.created_at.strftime("%B %d, %Y") %></p>

  <h2>Your Projects:</h2>
  <div class="projects">
    <% if @projects.any? %>
      <% @projects.each do |project| %>
        <div class="project-card">
          <div class="card-image-container">
            <% if project.photo.attached? %>
              <%= cl_image_tag project.photo.key, class: "card-image" %>
            <% else %>
              <%= image_tag "ForestFuture.jpeg", alt: "No Image", class: "card-image" %> <!-- Imagen de reemplazo -->
            <% end %>
          </div>
          <div class="card-body">
            <h3 class="card-title"><%= project.name %></h3>
            <p class="card-text"><%= truncate(project.description, length: 100) %></p>
            <%= link_to "View Project", project_path(project), class: "btn-secondary" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You don't have any projects yet. <%= link_to "Create one", new_project_path %></p>
    <% end %>
  </div>
</div>
