<h1>New Project</h1>
<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence %>

  <div class="form_inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.input :address, placeholder: "Enter a location", label: "Address" %>
    <%= f.input :latitude, as: :hidden %>
    <%= f.input :longitude, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
<%= link_to 'Back', projects_path, class: "btn btn-secondary" %>
