<p style="color: green"><%= notice %></p>

<!-- Container for the project details -->
<div class="container">
  <!-- Project Details Section -->
  <div class="project-detail-card mb-4">

    <!-- Text Section (Project Name) -->
    <div class="project-text text-center mb-3">
      <h2 class="project-title"><%= @project.name %></h2>
    </div>

    <!-- Image Section -->
    <div class="project-image-container">
      <% if @project.photo.present? %>
        <%= cl_image_tag @project.photo.key, height: 300, width: 450, crop: :fill, class: 'project-image' %>
      <% else %>
        <p>No image available</p>
      <% end %>
    </div>

    <!-- Text Section (Project Description) -->
    <div class="project-description mt-3">
      <p><%= @project.description %></p>
    </div>

    <!-- Actions Section -->
    <div class="d-flex justify-content-between mt-4">
      <% if policy(@project).edit? %>
        <%= link_to "Edit this Project", edit_project_path(@project), class: 'btn btn-warning btn-lg' %>
      <% end %>

      <%= link_to "Back to Projects", projects_path, class: 'btn btn-secondary btn-lg' %>

      <%= button_to "Destroy this project", @project, method: :delete, class: 'btn btn-danger btn-lg' if policy(@project).destroy? %>
    </div>
  </div>
</div>
